{% extends "admin/base.html.twig" %}

{% block title %} Suivi de {{suivi.animal}}{% endblock %}

{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h2 class="mt-5 mb-3">Suivi de : {{suivi.animal}}</h2>
            <a href="{{path('admin_article_index')}}" class="btn btn-primary">Retour</a>
            <div class="d-flex justify-content-center w-100 flex-column">
                <img src="/uploads/suivi/{{suivi.image}}" alt="Image de {{suivi.animal}}" class="w-100 my-3 imageSuivi" />
            </div>
            <div class="my-5">{{suivi.description | raw}}</div>
        </div>
    </div>
{% endblock %}