{% extends 'base.html.twig' %}

{% block title %}Donation{% endblock %}

{% block body %}
    <div class="slide donationOne">
        <div class="left"></div>
        <div class="right">
            <div class="wrapper">
                <div class="slideFormulaire">
                    <img src="/logo/Union.png" alt="Logo de coup de patte">
                    <div class="formulaire">
                        <a href="{{path('home')}}" class='backButton'>Retour à l'accueil</a>
                        <h6>Faire un don :</h6>
                        <div class="montant">
                            <div class="montantSelections">
                                <div class="montantSelection reset">reset</div>
                                <div class="montantSelection">1</div>
                                <div class="montantSelection">2</div>
                                <div class="montantSelection">5</div>
                                <div class="montantSelection">10</div>
                                <div class="montantSelection">20</div>
                                <div class="montantSelection">50</div>
                                <div class="montantSelection">100</div>
                            </div>
                            <div class="montantTotal">
                                Montant total :
                                <div class="total">0€</div>
                            </div>
                        </div>
                        {{form_start(formOne)}}
                            {{form_widget(formOne)}}
                            <div class="buttonFormulaire">
                                <button type="submit">Suivant</button>
                            </div>
                        {{form_end(formOne)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('donation')}}
    {% if app.user %}
        <script>
            document.querySelector('#donation_one_email').value = "{{app.user.email}}"
            document.querySelector('#donation_one_lastName').value = "{{app.user.lastName}}"
            document.querySelector('#donation_one_firstName').value = "{{app.user.firstName}}"
        </script>
    {% endif %}
{% endblock %}
