{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="slide" id="profil">
        <div class="wrapper">
            <div class="headerAccount">
                <i class="fa-solid fa-user"></i>
                <h6>{{user.lastName}} {{user.firstName}}</h6>
                {% for label, messages in app.flashes %}
                    <div class="container mt-3 p-0">
                        <div class="alert alert-{{label}}">
                            {% for message in messages %}
                                <p>{{ message | raw }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="buttons">
                    <a href="{{path('account_passwordUpdate')}}" class='backButton'>Modifier votre mot de passe</a>
                    <a href="{{path('account_userUpdate')}}" class='backButton'>Modifier vos informations</a>
                </div>
                {% if user.familleAccueil %}
                    <a href="" class="backButton">Faire un suivi</a>
                {% endif %}
            </div>
            {% include "partials/_searchFiltre.html.twig" %}
            <h5>Vos favoris : </h5>
            <div class="favoris">
                {% if pagination.data %}
                    {% for favori in pagination.data %}
                        <div class="favori">
                            {% for animal in favori.animal %}
                                <img src="/uploads/animal/{{animal.coverImage}}" alt="Image de {{animal.name}}">
                                <div class="show">
                                    <div class="deleteFav deleteButton">X</div>
                                    <h4>{{animal.name}}</h4>
                                    {% if animal.genre == "male" %}
                                        <p>mâle</p>
                                    {% else %}
                                        <p>femelle</p>
                                    {% endif %}
                                    <p>{{animal.age}} ans</p>
                                    <a href="{{path('animal_show',{'id':animal.id})}}" class="backButton">Voir plus</a>
                                </div>
                                {% include "partials/deleteAlert.html.twig" with {'type':'de vos favoris','title':animal.name, 'id':favori.id, 'route':'favori_delete'} %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>Vous n'avez pas encore de favoris ou aucun favoris ne correspond à votre recherche</h3>
                {% endif %}
                
            </div>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let favoris = document.querySelectorAll('.favori')
        let show = document.querySelectorAll('.show')

        favoris.forEach((favori,index)=>{
            favori.addEventListener('click',()=>{
                show[index].classList.toggle('active');
            })
            favori.addEventListener('mouseover',()=>{
                show[index].classList.add('active')
            })
            favori.addEventListener('mouseout',()=>{
                show[index].classList.remove('active')
            })
        })
    </script>
{% endblock %}
