<footer>
    <div class="wrapper">
        <div class="green">
            <img src="/logo/Union.png" alt="Logo Coup de patte">
                <div class="infos">
                    <div class="informations">
                    <h5>Coup de Patte</h5>
                    <div class="information">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:0123456789">0123456789</a>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailTo:coupdepatte@gmail.be">coupdepatte@gmail.be</a>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Rue des refuges 7850 Marcq</p>
                    </div>
                </div>
                <div class="horaires">
                    <h5>Horaires d'ouvertures</h5>
                    <div class="horaire">
                        <p>Lundi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Mardi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Mercredi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Jeudi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Vendredi :</p>
                        <p>9h - 17h</p>
                    </div>
                    <div class="horaire">
                        <p>Samedi :</p>
                        <p>10h - 14h</p>
                    </div>
                    <div class="horaire">
                        <p>Dimanche :</p>
                        <p>Fermé</p>
                    </div>
                </div>
                <div class="liens">
                    <h5>Liens</h5>
                    <a href="{{path('legals')}}">Mentions légales</a>
                    <a href="{{path('adoption_one')}}">Faire adopter votre animal</a>
                    <a href="{{path('donation_one')}}">Faire un don</a>
                    <a href="{{path('blog')}}">Blog</a>
                    <a href="{{path('legals_sitemap')}}">Plan du site</a>
                </div>
                <div class="socials">
                    <h5>Réseaux sociaux</h5>
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="black">
        <h6>&copy; Copyright Sacré Alexandre</h6>
    </div>
</footer>