<header class="headerSite">
    <div class="wrapper">
        <div class="logo">
            <img src="/logo/Union.png" alt="Logo coup de patte">
            <h4>Coup de Patte</h4>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{path("home")}}">Menu</a>
                    <ul>
                        <li><a href="{{path("home")}}">Accueil</a></li>
                        <li><a href="#">Présentation</a></li>
                        <li><a href="#">Animaux</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <h6>Animaux</h6>
                    <ul>
                        <li><a href="{{path('animal_index',{'type':'chien'})}}">Chien</a></li>
                        <li><a href="{{path('animal_index',{'type':'chat'})}}">Chat</a></li>
                        <li><a href="{{path('animal_index',{'type':'lapin'})}}">Lapin</a></li>
                    </ul>
                </li>
                <li><a href="{{path('blog')}}">Blog</a></li>
                <li><a href="{{path('adoption_one')}}">Faire adopter</a></li>
                <li><a href="{{path('cart')}}"><i class="fa-solid fa-bag-shopping"></i><span class="numberAchatHeader ms-2">0</span></a></li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <ul>
                        <li><a href="#">Inscription</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Profil</a></li>
                        <li><a href="{{path('donation_one')}}">Faire un don</a></li>
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="slide" id="menu">
    <div class="left"></div>
    <div class="right">
        <div class="menuLink">
            <div class="menuContainer">
                <a href="{{path("home")}}">Menu</a>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <a href="{{path("home")}}">Accueil</a>
                <a href="#">Présentation</a>
                <a href="#">Animaux</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="menuLink">
            <div class="menuContainer">
                <h6>Animaux</h6>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <a href="#">Chien</a>
                <a href="#">Chat</a>
                <a href="#">Lapin</a>
            </div>
        </div>
        <div class="menuLink">
            <a href="{{path('blog')}}">Blog</a>
        </div>
        <div class="menuLink">
            <a href="{{path('adoption_one')}}">Faire adopter</a>
        </div>
        <div class="menuLink">
            <a href="{{path('cart')}}"><i class="fa-solid fa-bag-shopping"></i></a>
            <span class="numberAchatHeader ms-2">0</span>
        </div>
        <div class="menuLink">
            <div class="menuContainer">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <a href="#">Inscription</a>
                <a href="#">Connexion</a>
                <a href="#">Profil</a>
                <a href="{{path('donation_one')}}">Faire un don</a>
                <a href="#">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
