<header class="headerSite">
    <div class="wrapper">
        <div class="logo">
            <a href="/"><img src="/logo/Union.png" alt="Logo coup de patte"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{path("home")}}" class="menuUpperHeader"><i class="fa-solid fa-bars iconHeader" style="color: #ffffff;"></i>Menu</a>
                </li>
                <li>
                    <h6><i class="fa-solid fa-paw iconHeader pawIconHeader" style="color: #ffffff;"></i>Animaux</h6>
                    <ul>
                        <li><a href="{{path('animal_index',{'type':'chien'})}}"><i class="fa-solid fa-dog iconHeader" style="color: #ffffff;"></i>Chien</a></li>
                        <li><a href="{{path('animal_index',{'type':'chat'})}}"><i class="fa-solid fa-cat iconHeader" style="color: #ffffff;"></i>Chat</a></li>
                        <li><a href="{{path('animal_index',{'type':'lapin'})}}"><i class="fa-solid fa-carrot iconHeader" style="color: #ffffff;"></i>Lapin</a></li>
                    </ul>
                </li>
                <li><a href="{{path('blog')}}"><i class="fa-regular fa-newspaper iconHeader" style="color: #ffffff;"></i>Blog</a></li>
                <li><a href="{{path('legals_adoption')}}"><i class="fa-solid fa-question iconHeader" style="color: #ffffff;"></i>Comment adopter</a></li>
                <li><a href="{{path('adoption_one')}}"><i class="fa-regular fa-heart iconHeader" style="color: #ffffff;"></i>Faire adopter</a></li>
                <li><a href="{{path('cart')}}"><i class="fa-solid fa-bag-shopping"></i><span class="numberAchatHeader ms-2">0</span></a></li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <ul>
                        {% if app.user %}
                            <li><a href="{{path('account_index')}}"><i class="fa-solid fa-circle-user iconHeader" style="color: #ffffff;"></i>Profil</a></li>
                            <li><a href="{{path('parrainage_index')}}"><i class="fa-solid fa-heart-circle-plus iconHeader" style="color: #ffffff;"></i>Parrainage</a></li>
                            <li><a href="{{path('donation_one')}}"><i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i>Faire un don</a></li>
                            <li><a href="{{path('account_logout')}}"><i class="fa-solid fa-user-slash iconHeader" style="color: #ffffff;"></i>Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{path('account_register')}}"><i class="fa-solid fa-user-plus iconHeader" style="color: #ffffff;"></i>Inscription</a></li>
                            <li><a href="{{path('account_login')}}"><i class="fa-solid fa-user-check iconHeader" style="color: #ffffff;"></i>Connexion</a></li>
                            <li><a href="{{path('donation_one')}}"><i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i>Faire un don</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="underHeader">
    <div class="wrapper">
        <div class="linkUnderHeader">
            <div><i class="fa-solid fa-house iconHeader" style="color: #ffffff;"></i><a href="{{path("home")}}">Accueil</a></div>
            <div><i class="fa-solid fa-circle-info iconHeader" style="color: #ffffff;"></i><a href="{{path("home")}}#pres">Présentation</a></div>
            <div><i class="fa-solid fa-paw iconHeader" style="color: #ffffff;"></i><a href="{{path("home")}}#pensionnaires">Pensionnaires</a></div>
            <div><i class="fa-solid fa-envelope iconHeader" style="color: #ffffff;"></i><a href="{{path("home")}}#contact">Contact</a></div>  
        </div>
        <div class="linkUnderHeader">
            <div><i class="fa-solid fa-dog iconHeader" style="color: #ffffff;"></i><a href="{{path('animal_index',{'type':'chien'})}}">Chien</a></div>
            <div><i class="fa-solid fa-cat iconHeader" style="color: #ffffff;"></i><a href="{{path('animal_index',{'type':'chat'})}}">Chat</a></div>
            <div><i class="fa-solid fa-carrot iconHeader" style="color: #ffffff;"></i><a href="{{path('animal_index',{'type':'lapin'})}}">Lapin</a></div>
        </div>
        <div class="linkUnderHeader">
            {% if app.user %}
                <div><i class="fa-solid fa-circle-user iconHeader" style="color: #ffffff;"></i><a href="{{path('account_index')}}">Profil</a></li></div>
                <div><i class="fa-solid fa-heart-circle-plus iconHeader" style="color: #ffffff;"></i><a href="{{path('parrainage_index')}}">Parrainage</a></div>
                <div><i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i><a href="{{path('donation_one')}}">Faire un don</a></div>
                <div><i class="fa-solid fa-user-slash iconHeader" style="color: #ffffff;"></i><a href="{{path('account_logout')}}">Déconnexion</a></div>
            {% else %}
                <div><i class="fa-solid fa-user-plus iconHeader" style="color: #ffffff;"></i><a href="{{path('account_register')}}">Inscription</a></div>
                <div><i class="fa-solid fa-user-check iconHeader" style="color: #ffffff;"></i><a href="{{path('account_login')}}">Connexion</a></div>
                <div><i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i><a href="{{path('donation_one')}}">Faire un don</a></div>  
            {% endif %}
        </div>
    </div>
</div>
<div class="slide" id="menu">
    <div class="left"></div>
    <div class="right">
        <div class="menuLink">
            <div class="menuContainer">
                <i class="fa-solid fa-bars iconHeader" style="color: #ffffff;"></i>
                <a href="{{path("home")}}">Menu</a>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <div class="iconLink">
                    <i class="fa-solid fa-house iconHeader" style="color: #ffffff;"></i>
                    <a href="{{path("home")}}">Accueil</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-circle-info iconHeader" style="color: #ffffff;"></i>
                    <a href="#pres">Présentation</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-paw iconHeader pawIconHeader" style="color: #ffffff;"></i>
                    <a href="#pensionnaires">Pensionnaires</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-envelope iconHeader" style="color: #ffffff;"></i>
                    <a href="#contact">Contact</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i>
                    <a href="{{path('donation_one')}}">Faire un don</a>
                </div>
                {% if app.user %}
                    <div class="iconLink">
                        <i class="fa-solid fa-user-slash iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_logout')}}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="iconLink">
                        <i class="fa-solid fa-user-plus iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_register')}}">Inscription</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-user-check iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_login')}}">Connexion</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="menuLink">
            <div class="menuContainer">
                <i class="fa-solid fa-paw iconHeader pawIconHeader" style="color: #ffffff;"></i>
                <h6>Animaux</h6>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <div class="iconLink">
                    <i class="fa-solid fa-dog iconHeader" style="color: #ffffff;"></i>
                    <a href="{{path('animal_index',{'type':'chien'})}}">Chien</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-cat iconHeader" style="color: #ffffff;"></i>
                    <a href="{{path('animal_index',{'type':'chat'})}}">Chat</a>
                </div>
                <div class="iconLink">
                    <i class="fa-solid fa-carrot iconHeader" style="color: #ffffff;"></i>
                    <a href="{{path('animal_index',{'type':'lapin'})}}">Lapin</a>
                </div>
            </div>
        </div>
        <div class="menuLink">
            <i class="fa-regular fa-newspaper iconHeader" style="color: #ffffff;"></i>
            <a href="{{path('blog')}}">Blog</a>
        </div>
        <div class="menuLink">
            <i class="fa-solid fa-question iconHeader" style="color: #ffffff;"></i>
            <a href="{{path('legals_adoption')}}">Comment adopter</a>
        </div>
        <div class="menuLink">
            <i class="fa-regular fa-heart iconHeader" style="color: #ffffff;"></i>
            <a href="{{path('adoption_one')}}">Faire adopter</a>
        </div>
        <div class="menuLink">
            <a href="{{path('cart')}}"><i class="fa-solid fa-bag-shopping"></i><span class="numberAchatHeader ms-2">0</span></a>
        </div>
        <div class="menuLink">
            <div class="menuContainer">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                {% if app.user %}
                    <div class="iconLink">
                        <i class="fa-solid fa-circle-user iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_index')}}">Profil</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-heart-circle-plus iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('parrainage_index')}}">Parrainage</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('donation_one')}}">Faire un don</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-user-slash iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_logout')}}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="iconLink">
                        <i class="fa-solid fa-user-plus iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_register')}}">Inscription</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-user-check iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('account_login')}}">Connexion</a>
                    </div>
                    <div class="iconLink">
                        <i class="fa-solid fa-sack-dollar iconHeader" style="color: #ffffff;"></i>
                        <a href="{{path('donation_one')}}">Faire un don</a>
                    </div>  
                {% endif %}
            </div>
        </div>
    </div>
</div>
