<header class="headerSite">
    <div class="wrapper">
        <div class="logo">
            <img src="/logo/Union.png" alt="Logo coup de patte">
            <h4>Coup de Patte</h4>
        </div>
        <nav>
            <ul>
                <li><a href="{{path('admin_dashboard_index')}}">Dashboard</a></li>
                <li><a href="{{path('admin_animal_index')}}">Animaux</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Utilisateurs</a></li>
                <li><a href="#">Adoptions</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <ul>
                        <li><a href="{{path('admin_account_logout')}}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="slide" id="menu">
    <div class="left"></div>
    <div class="right">
        <div class="menuLink">
            <a href="{{path('admin_dashboard_index')}}">Dashboard</a>
        </div>
        <div class="menuLink">
            <a href="{{path('admin_animal_index')}}">Animaux</a>
        </div>
        <div class="menuLink">
            <a href="#">Articles</a>
        </div>
        <div class="menuLink">
            <a href="#">Utilisateurs</a>
        </div>
        <div class="menuLink">
            <a href="#">Adoptions</a>
        </div>
        <div class="menuLink">
            <a href="#">Contact</a>
        </div>
        <div class="menuLink">
            <div class="menuContainer">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-chevron-right chevronMenu"></i>
            </div>
            <div class="link">
                <a href="{{path('admin_account_logout')}}">Déconnexion</a>
            </div>
        </div>
    </div>
</div>