{% extends 'admin/base.html.twig' %}

{% block title %}Friandises{% endblock %}


{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h1 class="mt-5 mb-3">Gestion des Friandises</h1>
            <a href="{{path('admin_friandise_create')}}" class="btn btn-success mb-2">Ajout d'une friandise</a>
            {% include "admin/partials/_search.html.twig" %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Animal</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friandise in pagination.data %}
                        <tr>
                            <td>{{friandise.id}}</td>
                            <td>{{friandise.name}}</td>
                            <td>{{friandise.price}}</td>
                            <td>{{friandise.image}}</td>
                            <td>{{friandise.animal}}</td>
                            <td class="text-center"> 
                                <a href="{{path('admin_friandise_update',{'id':friandise.id})}}" class="btn btn-warning mb-2"><i class="fas fa-edit"></i></a>
                                <div class="btn btn-danger deleteButton mb-2"><i class="fas fa-trash"></i></div>
                            </td>
                        </tr>
                        {% include "admin/partials/deleteAlert.html.twig" with {'type':'des friandises','title':friandise.name, 'id':friandise.id, 'route':'admin_friandise_delete'} %}
                    {% endfor %}
                </tbody>
            </table>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
