{% extends "admin/base.html.twig" %}

{% block title %}Modification d'une friandise{% endblock %}

{% block body %}
    <div class="slideAdmin">
        <div class="wrapper">
            <div class="form">
                <div class="titleBack">
                    <h2>Modifier une friandise</h2>
                    <a href="{{path('admin_friandise_index')}}" class="btn btn-secondary">Retour</a>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <img src="/uploads/friandises/{{friandiseImage}}" alt="Image de {{friandise.name}}" class="my-3 imageAdminUpdate">
                </div>
                {{form_start(myForm)}}
                    {{form_widget(myForm)}}
                    <button type="submit" class="btn btn-warning my-3">Modifier</button>
                {{form_end(myForm)}}
            </div>
        </div>
    </div>
{% endblock %}