{% extends 'base.html.twig' %}

{% block title %}Animal - {{type}}{% endblock %}

{% block body %}
    <div class="slide animalSlide">
        <div class="wrapper">
            <h4>Nos {{type}}s</h4>
            {% include "partials/_searchFiltre.html.twig" %}
            
                {% if pagination.data %}
                <div class="animaux">
                    {% for animal in pagination.data %}
                        {% if animal.adopted == false %}
                            <div class="animal">
                                <img src="/uploads/animal/{{animal.coverImage}}" alt="Image de {{animal.name}}">
                                <div class="infos">
                                    <h5>{{animal.name}}</h5>
                                    <h6>{{animal.race}}</h6>
                                     {% if animal.genre == "male" %}
                                        <i class="fa-solid fa-mars" style="color: #74C0FC;"></i>
                                    {% else %}
                                        <i class="fa-solid fa-venus" style="color: #ff0080;"></i>
                                    {% endif %}
                                    <h6 class="age">{{animal.age}} ans</h6>
                                    <a href="{{path('animal_show',{'id':animal.id,'back':'index'})}}">Voir plus</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                    <div class="searchNotFound">
                        <h3>Aucun {{type}} ne correspond à votre recherche</h3>
                    </div>
                {% endif %}
            {{pagination.display}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Permet d'afficher les informations en activant la classe active d'un animal */
        var animaux = document.querySelectorAll('.animal');
        var infos = document.querySelectorAll('.infos');

        animaux.forEach((animal,key)=>{
            
            animal.addEventListener('click',()=>{
                infos[key].classList.toggle('active')
            })

            animal.addEventListener('pointerenter',()=>{
                infos[key].classList.add('activeHover')
            })
            animal.addEventListener('pointerleave',()=>{
                infos[key].classList.remove('activeHover')
            })
        })
    </script>
{% endblock %}