{% extends "base.html.twig" %}

{% block title %}Profil de {{animal.name}}{% endblock %}

{% block body %}
    <div class="slide showAnimal">
        <div class="wrapper">
            <div class="buttons">
                <a href="{{path('animal_index',{'type':animal.type})}}" class="backButton">Retour</a>
                {% if app.user %}
                    {% if isFavori %}
                        <a href="{{path('favori_delete',{'id':favoriId})}}" class="buttonIsFavoris"><i class="fa-solid fa-heart"></i></a>
                    {% else %}
                        <a href="{{path('favori_create',{'id':animal.id})}}" class="buttonNotFavoris"><i class="fa-solid fa-heart"></i></a>
                    {% endif %}
                    
                {% endif %}
                
            </div>
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="showAnimalInfo">
                <img src="/uploads/animal/{{animal.CoverImage}}" alt="Image de {{animal.name}}">
                <div class="informationsAdoption">
                    <p>Nom : <span class="animalName">{{animal.name}}</span></p>
                    <p>Animal : {{animal.type}}</p>
                    <p>Genre : {{animal.genre}}</p>
                    <p>Âge : {{animal.age}}</p>
                    <p>Race : {{animal.race}}</p>
                    <div class="indispensables">
                        <p>Indispensables :</p>
                        {% for indispensable in animal.indispensables %}
                            <p>- {{indispensable.title}}</p>
                        {% endfor %}
                    </div>
                    <div class="description">
                        <p>Description : </p>
                        <p>{{animal.description | raw | nl2br}}</p>
                    </div>
                </div>
            </div>
            <h5>Offrez lui une friandise parmi ses préférées :</h5>
            <div class="achatFriandise">
                <div class="friandises">
                    {% for friandise in animal.friandise %}
                        <div class="friandise">
                            <h6><span class="friandiseName">{{friandise.name}}</span> - <span class="friandisePrice">{{friandise.price}}</span>€</h6>
                            <img src="/uploads/friandises/{{friandise.image}}" alt="Image de la friandise {{friandise.name}}">
                            <div class="addToCart backButton">Ajouter</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var addToCart = document.querySelectorAll('.addToCart')
        addToCart.forEach(elem=>{
            elem.addEventListener("click", function() {
                Toastify({
                    text: "La friandise a bien été ajoutée au panier !",
                    duration: 3000,
                    close: true, 
                    gravity: "top",
                    position: "right", 
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                }).showToast();
            });
        })
    </script>
{% endblock %}