{% extends "base.html.twig" %}

{% block title %}Profil de {{animal.name}}{% endblock %}

{% block body %}
    <div class="slide showAnimal">
        <div class="wrapper">
            <div class="buttons">
                <a href="{{path('animal_index',{'type':animal.type})}}" class="backButton">Retour</a>
                {% if app.user %}
                    <div id="buttonFavori"><i class="fa-solid fa-heart"></i></div>
                    {% if isParrain == false %}
                        <a href="{{path('parrainage_create',{'id':animal.id})}}" class='backButton ms-2'>Parrainer</a>
                    {% endif %}
                    
                {% endif %}
                
            </div>
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="showAnimalInfo">
                <img src="/uploads/animal/{{animal.CoverImage}}" alt="Image de {{animal.name}}">
                <div class="informationsAdoption">
                    <p>Nom : <span class="animalName">{{animal.name}}</span></p>
                    <p>Animal : {{animal.type}}</p>
                    <p>Genre :
                        {% if animal.genre == "male" %}
                            mâle
                        {% else %}
                            femelle
                        {% endif %}
                    </p>
                    <p>Âge : {{animal.age}}</p>
                    <p>Race : {{animal.race}}</p>
                    <div class="indispensables">
                        <p>Indispensables :</p>
                        {% for indispensable in animal.indispensables %}
                            <p>- {{indispensable.title}}</p>
                        {% endfor %}
                    </div>
                    <div class="description">
                        <p>Description : </p>
                        <p>{{animal.description | raw | nl2br}}</p>
                    </div>
                </div>
            </div>
            <h5>Offrez-lui une de ses friandises favorites :</h5>
            <div class="achatFriandise">
                <div class="friandises">
                    {% if animal.friandise|length > 0 %}
                        {% for friandise in animal.friandise %}
                            <div class="friandise">
                                <h6><span class="friandiseName">{{friandise.name}}</span> - <span class="friandisePrice">{{friandise.price}}</span>€</h6>
                                <img src="/uploads/friandises/{{friandise.image}}" alt="Image de la friandise {{friandise.name}}">
                                <div class="addToCart backButton">Ajouter</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h6>{{ animal.name }} n'a pas encore de friandise préférée</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        /* Notifications pour l'ajout au panier */
        var addToCart = document.querySelectorAll('.addToCart')
        addToCart.forEach(elem=>{
            elem.addEventListener("click", function() {
                Toastify({
                    text: "La friandise a bien été ajoutée au panier !",
                    duration: 2500,
                    close: true, 
                    gravity: "top",
                    position: "right", 
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                }).showToast();
            });
        })
    </script>

    {% if app.user %}
        <script>
            /* Bouton Favori */
            let isFavori = {{isFavori | json_encode}} // json_encode converti la valeur dans un format compatible avec JavaScript
            let buttonFavori = document.querySelector('#buttonFavori')
            if(isFavori){
                buttonFavori.classList.add('buttonIsFavoris')
                buttonFavori.setAttribute('data-favori',true)
            }else{
                buttonFavori.classList.add('buttonNotFavoris')
                buttonFavori.setAttribute('data-favori',false)
            }

            /* Fonction permettant d'ajouter un favori */
            async function createFavori() {
                try{
                    var animalId = {{animal.id}}
                    let response = await fetch(`/favori/${animalId}/create`,{
                        method: 'GET',
                    });
                }catch (error){
                    console.error('Une erreur est survenue')
                }
            }

            /* Fonction permettant de supprimer un favori */
            async function deleteFavori() {
                try{
                    var animalId = {{animal.id}}
                    let response = await fetch(`/favori/${animalId}/delete`,{
                        method: 'GET',
                    });
                }catch (error){
                    console.error('Une erreur est survenue')
                }
            }

            /* On ajoute ou supprime le favori en fonction de si l'animal est en favori ou non */
            buttonFavori.addEventListener('click',()=>{
                let favori = buttonFavori.getAttribute('data-favori')
                if(favori == "true"){
                    deleteFavori();

                    buttonFavori.setAttribute('data-favori',false)
                    buttonFavori.classList.remove('buttonIsFavoris')
                    buttonFavori.classList.add('buttonNotFavoris')
                }else{
                    createFavori();

                    buttonFavori.setAttribute('data-favori',true)
                    buttonFavori.classList.remove('buttonNotFavoris')
                    buttonFavori.classList.add('buttonIsFavoris')
                }
            })
        </script>
    {% endif %}

{% endblock %}