{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="slide blog">
        <div class="wrapper">
            <h4>Articles</h4>
            {% include "partials/_searchFiltre.html.twig" %}
            {% if pagination.data %}
                <div class="articles">
                    {% for article in pagination.data %}
                        <a href="{{path('article_show',{'slug':article.slug})}}" class="article">
                            <img src="/uploads/article/{{article.image}}" alt="Image de {{article.title}}">
                            <h6>"{{article.title}}"</h6>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="searchNotFound">
                    <h3>Aucun article ne correspond à votre recherche</h3>
                </div>
            {% endif %}
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
