{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="slide" id="home">
        <div class="left">
            <div class="wrapper">
                <h3>Coup de Patte</h3>
                <img src="logo/Union.png" alt="Logo de Coup de Patte">
                <p>Chez Coup de Patte, chaque chien, chat, lapin trouve une nouvelle chance et beaucoup d'amour.</p>
                <p>Offrez-leur un foyer, ils vous offriront un ami pour la vie !</p>
                <a href="#slideContact" class="backButton">Nous contacter</a>
            </div>
        </div>
        <div class="right">
            <div class="containerSlider">
                <div class="arrowLeft">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="containerSlide">
                    {% for animal  in lastPensionnaires %}
                        <div class="containerPensionnaire notShow">
                            <img src="/uploads/animal/{{animal.coverImage}}" alt="">
                            <div class="animalTypeHome">
                                <h5>{{animal.type}}</h5>
                                <p>
                                    {% if animal.genre == "male" %}
                                        <i class="fa-solid fa-mars"></i>
                                    {% else %}
                                        <i class="fa-solid fa-venus"></i>
                                    {% endif %}
                                </p>
                            </div>
                            <h6>{{animal.name}} - {{animal.age}}ans
                            </h6>
                            <a href="{{path('animal_show',{'id':animal.id})}}" class="backButton">Voir plus</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="arrowRight">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="pres">
        <div class="left"></div>
        <div class="right">
            <div class="wrapper">
                <div class="title">
                    <img src="logo/Union.png" alt="Logo de Coup de Patte">
                    <h4>Coup de Patte</h4>
                </div>
                <p>Bienvenue au Refuge <strong>Coup de Patte</strong> !</p>
                <p>Au refuge "Coup de Patte", nous offrons une nouvelle chance aux <strong>chiens, chats et lapins</strong> en quête d'un <strong>foyer aimant</strong>. Nous leur assurons des <strong>soins vétérinaires</strong> complets, une <strong>alimentation équilibrée</strong>, et <strong>beaucoup d'affection</strong>.</p>
                <p>Notre <strong>objectif</strong> est de <strong>trouver des familles responsables</strong>  pour nos animaux, en garantissant un processus d'adoption qui tient compte des besoins de chacun. Nous sensibilisons également le public à l'importance de l'adoption et des soins animaliers.</p>
                <p>Rejoignez-nous pour <strong>offrir un avenir meilleur</strong> à nos adorables compagnons et faites une vraie différence dans leur vie !</p>
                <div class="buttons">
                    <a href="#pensionnaires" class="backButton">Nos animaux</a>
                    <a href="{{path('adoption_one')}}" class="backButton">Faire adopter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="pensionnaires">
       <div class="wrapper">
            <h2>À propos de nos pensionnaires</h2>
            <p class="descriptionPensionnaire">Venez rencontrer <strong>nos adorables pensionnaires</strong> ! Chats, chiens et lapins <strong>attendent</strong> avec impatience un <strong>foyer aimant</strong>. Chacun a sa propre histoire, son caractère unique, et une <strong>tonne d'affection à offrir</strong>. Offrez-leur une chance et repartez peut-être avec un <strong>compagnon pour la vie</strong> !</p>
            <div class="pensionnaires">
                <div id="paw">
                    <img src="/images/paw.png" alt="Image de patte">
                </div>
                <div class="pensionnaire" id="cat">
                    <div class="container">
                        <h6>Nos chats</h6>
                        <p>Nos chats n'attendent qu'un doux foyer pour partager leurs ronronnements et câlins infinis !</p>
                        <a href="{{path('animal_index',{'type':'chat'})}}" class="backButton">Voir plus</a>
                    </div>
                </div>
                <div class="pensionnaire" id="dog">
                    <div class="container">
                        <h6>Nos chiens</h6>
                        <p>Nos chiens rêvent d'un foyer aimant pour offrir leur loyauté et des moments de bonheur sans fin !</p>
                        <a href="{{path('animal_index',{'type':'chien'})}}" class="backButton">Voir plus</a>
                    </div>
                </div>
                <div class="pensionnaire" id="rabbit">
                    <div class="container">
                        <h6>Nos lapins</h6>
                        <p>Nos lapins n'attendent qu'un foyer douillet pour partager tendresse et petits bonds de joie !</p>
                        <a href="{{path('animal_index',{'type':'lapin'})}}" class="backButton">Voir plus</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="slide" id="slideContact">
        <div class="left">
            <div class="title">
                <h3>Coup de Patte</h3>
                <img src="logo/Union.png" alt="Logo de Coup de Patte">
            </div>
        </div>
        <div class="right">
            <div class="wrapper">
                <h4>Contact</h4>
                {% for label, messages in app.flashes %}
                    <div class="container mt-3">
                        <div class="alert alert-{{label}}">
                            {% for message in messages %}
                                <p>{{ message | raw }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="formulaireContact">
                    {{form_start(formContact,{"action":path('home',{"_fragment":"slideContact"}),"method":"POST"})}}
                        {{form_widget(formContact)}}
                        <div class="d-flex justify-content-center">
                            <button class="boutonContact">Envoyer</button>
                        </div>
                    {{form_end(formContact)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let pensionnaires = document.querySelectorAll('.pensionnaire')
        let container = document.querySelectorAll('.container')

        pensionnaires.forEach((pensionnaire,index)=>{

            pensionnaire.setAttribute('open',false)
            pensionnaire.addEventListener('touchstart',()=>{
                let open = pensionnaire.getAttribute('open')
                if(open == "true"){
                    pensionnaire.setAttribute('open',false)
                    container[index].classList.remove('active')
                }else{
                    pensionnaire.setAttribute('open',true)
                    container[index].classList.add('active')
                }
            })

            pensionnaire.addEventListener('mouseover',()=>{
                container[index].classList.add('active')
            })
            pensionnaire.addEventListener('mouseout',()=>{
                container[index].classList.remove('active')
            })
        })
    </script>
    {{encore_entry_script_tags('slider')}}
{% endblock %}
