{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h1 class="mt-5 mb-5">Dashboard</h1>
            <h2 class="mt-5 mb-3">Notifications :</h2>
            {% if messageNotSeen %}
                <div class="d-flex justify-content-between w-100 alert alert-danger">
                    <h4>Vous avez {{messageNotSeen}} messages non vus</h4>
                    <div>
                        <a href="{{path('admin_contact_index')}}" class="btn btn-info block">Voir</a>
                    </div>
                </div>
            {% endif %}
            {% if adoption %}
                <div class="d-flex justify-content-between w-100 alert alert-success">
                    <h4>Vous avez {{adoption}} demandes d'adoption</h4>
                    <div>
                        <a href="{{path('admin_adoption_index')}}" class="btn btn-warning block">Voir</a>
                    </div>
                </div>
            {% endif %}
            {% if user %}
                <div class="d-flex justify-content-between w-100 alert alert-warning">
                    <h4>Vous avez {{user}} utilisateurs inscrits</h4>
                </div>
            {% endif %}
            <h2 class="mt-5 mb-3">Argent récolté : {% if totalArgent %}{{totalArgent}}€{% endif %}</h2>
            {% if totalDonation %}
                <div class="d-flex justify-content-between w-100 alert alert-success">
                    <h4>Vous avez récolté {{totalDonation}}€ de dons</h4>
                </div>
            {% endif %}
            {% if totalCart %}
                <div class="d-flex justify-content-between w-100 alert alert-warning">
                    <h4>Vous avez récolté {{totalCart}}€ avec les commandes de friandises</h4>
                </div>
            {% endif %} 
            <h2>Parrainages :</h2>
            {% if countParrainage and totalParrainage %}
                <div class="d-flex justify-content-between w-100 alert alert-info">
                    <h4>Vous avez actuellement {{countParrainage}} parrainage pour un total de {{totalParrainage}}€ par mois</h4>
                </div>
            {% endif %} 
        </div>  
    </div>
{% endblock %}
