{% extends 'admin/base.html.twig' %}

{% block title %}Commandes{% endblock %}


{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h1 class="mt-5 mb-3">Gestion des commandes</h1>
            {% include "admin/partials/_search.html.twig" %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Commande</th>
                        <th>Total</th>
                        <th>Statut</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in pagination.data %}
                        <tr>
                            <td>{{cart.id}}</td>
                            <td>{{cart.name}}</td>
                            <td>{{cart.firstName}}</td>
                            <td>{{cart.email}}</td>
                            <td>{{cart.cart | raw | nl2br}}</td>
                            <td>{{cart.total}}€</td>
                            {% if cart.status %}
                                <td>Payé</td>
                            {% else %}
                                <td>Non Payé</td>
                            {% endif %}
                            
                            <td class="text-center"> 
                                <div class="btn btn-danger deleteButton mb-2"><i class="fas fa-trash"></i></div>
                            </td>
                        </tr>
                        {% include "admin/partials/deleteAlert.html.twig" with {'type':'des commandes','title':"La commande de " ~ cart.name ~ ' ' ~ cart.firstname, 'id':cart.id, 'route':'admin_cart_delete'} %}
                    {% endfor %} 
                </tbody>
            </table>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
