{% extends 'base.html.twig' %}

{% block title %}Parrainage{% endblock %}

{% block body %}
    <div class="slide parrainage">
        <div class="wrapper">
            <div class="slideFormulaire">
                <img src="/uploads/animal/{{animal.coverImage}}" alt="Image de {{animal.name}}" class="imageParrainage">
                <div class="formulaire">
                    <a href="{{path('animal_index',{'type':animal.type})}}" class='backButton'>Retour</a>
                    <h6>Vous êtes sur le point de parrainer : {{animal.name}}</h6>
                    {{form_start(formParrainage)}}
                        {{form_widget(formParrainage)}}
                        <div class="buttonFormulaire">
                            <button type="submit">Envoyer</button>
                        </div>
                    {{form_end(formParrainage)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}