{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            <div class="slideFormulaire">
                <img src="/logo/Union.png" alt="Logo de coup de patte">
                <div class="formulaire">
                    <a href="{{path('home')}}" class='backButton'>Retour à l'accueil</a>
                    <h6>Réinitialisation du mot de passe</h6>
                    {% for label, messages in app.flashes %}
                        <div class="container mt-3 p-0">
                            <div class="alert alert-{{label}}">
                                {% for message in messages %}
                                    <p>{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {{form_start(myForm)}}
                        {{form_widget(myForm)}}
                        <div class="buttonFormulaire">
                            <button type="submit">Inscription</button>
                        </div>
                    {{form_end(myForm)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}