{% extends 'admin/base.html.twig' %}

{% block title %}Animaux{% endblock %}


{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h1 class="mt-5 mb-3">Gestion des animaux</h1>
            <a href="{{path('admin_animal_create')}}" class="btn btn-success mb-2">Ajout d'un animal</a>
            {% include "admin/partials/_searchFiltre.html.twig" %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Genre</th>
                        <th>Age</th>
                        <th>Race</th>
                        <th>Friandises</th>
                        <th>Indispensables</th>
                        <th>Date d'adoption</th>
                        <th>Adopté</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in pagination.data %}
                        <tr>
                            <td>{{animal.id}}</td>
                            <td>{{animal.name}}</td>
                            <td>{{animal.type}}</td>
                            <td>{{animal.genre}}</td>
                            <td>{{animal.age}}</td>
                            <td>{{animal.race}}</td>
                            <td>
                            {% if search or filtre %}
                                {% for friandise in animal.animal.friandise %}
                                    {{friandise.name}} |
                                {% endfor %}
                            {% else %}
                                {% for friandise in animal.friandise %}
                                    {{friandise.name}} |
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {% if search or filtre %}
                                {% for indispensable in animal.animal.indispensables %}
                                    {{indispensable.title}} |
                                {% endfor %}
                            {% else %}
                                {% for indispensable in animal.indispensables %}
                                    {{indispensable.title}} |
                                {% endfor %}
                            {% endif %}
                            
                            </td>
                            {% if animal.adoptionDate == null %}
                                <td>/</td>
                            {% else %}
                                {% set date = animal.adoptionDate %}
                                <td>{{date|date('d/m/Y')}}</td>
                            {% endif %}
                            {% if animal.adopted == "1" %}
                                <td>Adopté</td>
                            {% else %}
                                <td>En adoption</td>
                            {% endif %}
                            
                            <td class="text-center"> 
                                <a href="{{path('admin_animal_update',{'id':animal.id})}}" class="btn btn-warning mb-2"><i class="fas fa-edit"></i></a>
                                <div class="btn btn-danger deleteButton mb-2"><i class="fas fa-trash"></i></div>
                            </td>
                        </tr>
                         {% include "admin/partials/deleteAlert.html.twig" with {'type':'des animaux','title':animal.name, 'id':animal.id, 'route':'admin_animal_delete'} %}
                    {% endfor %}
                </tbody>
            </table>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
