{% extends 'admin/base.html.twig' %}

{% block title %}Messages{% endblock %}


{% block body %}
    <div class="container-fluid full slideAdmin">
        <div class="wrapper">
            <h1 class="mt-5 mb-3">Gestion des Messages</h1>
            {% include "admin/partials/_searchFiltre.html.twig" %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Statut</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in pagination.data %}
                        <tr>
                            <td>{{contact.id}}</td>
                            <td>{{contact.lastName}}</td>
                            <td>{{contact.firstName}}</td>
                            <td>{{contact.email}}</td>
                            {% if contact.status == "vu" %}
                                <td>Vu</td>
                            {% elseif contact.status =="repondu"%}
                                <td>Répondu</td>
                            {% else %}
                                <td>En attente</td>
                            {% endif %}
                            <td class="text-center"> 
                                <a href="{{path('admin_contact_show',{'id':contact.id})}}" class="btn btn-primary mb-2"><i class="fas fa-eye"></i></a>
                                <div class="btn btn-danger deleteButton mb-2"><i class="fas fa-trash"></i></div>
                            </td>
                        </tr>
                        {# {% include "admin/partials/deleteAlert.html.twig" with {'type':'des articles','title':article.title, 'id':article.id, 'route':'admin_article_delete'} %}  #}
                    {% endfor %}
                </tbody>
            </table>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
